asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.0.6
django-ajax-datatable==4.0.0
django-crispy-forms==1.14.0
django-datatables-view==1.20.0
Pillow==9.2.0
pytz==2022.1
sqlparse==0.4.2
django-utils-six
